<!-- Home COmponent -->

<main>
  <h2> Welcome To Villager Bingo!</h2>
  <section class="leftbar"></section>

  <section class="container">

    <section class="bingoCard">
      <section class="tile">test</section>
      <section class="tile">test2</section>
      <section class="tile">test3</section>
      <section class="tile">test4</section>
      <section class="tile">test5</section>

      <section class="tile">test6</section>
      <section class="tile">test7</section>
      <section class="tile">test8</section>
      <section class="tile">test9</section>
      <section class="tile">test10</section>

      <section class="tile">test11</section>
      <section class="tile">test12</section>
      <section class="middle">free plot</section>
      <section class="tile">test14</section>
      <section class="tile">test15</section>

      <section class="tile">test16</section>
      <section class="tile">test17</section>
      <section class="tile">test18</section>
      <section class="tile">test19</section>
      <section class="tile">test20</section>

      <section class="tile">test21</section>
      <section class="tile">test22</section>
      <section class="tile">test23</section>
      <section class="tile">test24</section>
      <section class="tile">test25</section>
    </section>
    
  </section>

  <section class="rightbar"></section>

</main>
