<!-- Home COmponent -->

<h2> Welcome To Villager Bingo!</h2>
<main>
  <div class="leftbar"></div>

  <div class="container">

    <section class="bingoCard">
      <div class="tile">test</div>
      <div class="tile">test2</div>
      <div class="tile">test3</div>
      <div class="tile">test4</div>
      <div class="tile">test5</div>

      <div class="tile">test6</div>
      <div class="tile">test7</div>
      <div class="tile">test8</div>
      <div class="tile">test9</div>
      <div class="tile">test10</div>

      <div class="tile">test11</div>
      <div class="tile">test12</div>
      <div class="middle">test13</div>
      <div class="tile">test14</div>
      <div class="tile">test15</div>

      <div class="tile">test16</div>
      <div class="tile">test17</div>
      <div class="tile">test18</div>
      <div class="tile">test19</div>
      <div class="tile">test20</div>

      <div class="tile">test21</div>
      <div class="tile">test22</div>
      <div class="tile">test23</div>
      <div class="tile">test24</div>
      <div class="tile">test25</div>
    </section>
    
  </div>

  <div class="rightbar"></div>

</main>
