<!-- Navbar -->
<meta charset="utf-8">
<title>VillagerBingo</title>
<base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="./assets/giphy.gif">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300;400;500&display=swap" rel="stylesheet">

<header>
  <nav>
  <h1>ACNH Villager Bingo with Friends</h1>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/twitch">Twitch Integration</a></li>
    </ul>
  </nav>
</header>

<!-- home.component generates here -->
<div class="app-container">
  <router-outlet></router-outlet>
</div>

<!-- Footer  -->
<footer>
  <h3> Made by my e. lovell and KCasie with love </h3>
</footer>
